:root {
  --header-height: 80px;
  --background: #fbfbfb;
  --soft: #a0a0a0;
  --strong: #494949;
}

#observablehq-main,
#observablehq-center {
  margin: 0;
  min-height: 100vh;
}

menu {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  titulo {
    padding: 0 10px;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
    opacity: 0.9;
  }
  select,
  input {
    background-color: var(--background);
    border-radius: 5px;
    border: 1px dotted var(--soft);
    color: var(--strong) !important;
    text-align: center;
    padding: 5px;
    scrollbar-width: none;
    &:hover {
      box-shadow: 0 4px 12px rgba(136, 160, 195, 0.1);
    }
  }
}

cuerpo {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  contenido {
    z-index: 2;
    display: block;
    border: 1px solid #d5d5d5a7;
    background-color: var(--background);
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    max-width: 1500px;
  }
}

cards {
  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0 40px 0;
  gap: 20px;
  card {
    z-index: 4;
    display: block;
    color: var(--strong) !important;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 10px;

  titulo {
    font-size: 2rem;
    font-weight: 650;
  }

  subtitulo {
    font-size: 0.9rem;
    font-family: sans-serif;
    opacity: 0.7;
    max-width: 500px;
  }
}

estado {
  z-index: 5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  titulo,
  subtitulo {
    font-style: italic;
    font-size: 0.9rem;
    font-family: serif;
    opacity: 0.7;
    max-width: 600px;
  }
  subtitulo {
    font-size: 0.7rem;
  }
  leyenda {
    line {
      stroke: #fff;
    }
    text {
      opacity: 0.7;
    }
  }
  mapa {
    z-index: 6;
    position: relative;
    mensaje {
      z-index: 5;
      position: absolute;
      z-index: -1;
      top: 7%;
      right: 10%;
      font-family: sans-serif;
      opacity: 0.3;
      text-align: right;
      * {
        display: block;
      }
      valor {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2;
      }
      municipio {
        max-width: 200px;
        font-size: 0.8rem;
        font-weight: 600;
      }
      departamento {
        font-size: 0.7rem;
        font-weight: 500;
      }
    }
  }
}

footer {
  color: var(--soft);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px 0;
  fuente {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-family: sans-serif;
    opacity: 0.7;
    a[href] {
      color: var(--strong);
      text-decoration: dotted underline;
      text-underline-offset: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  mensaje {
    right: 2% !important;
    valor {
      font-size: 2rem !important;
    }
    municipio {
      max-width: 150px !important;
      font-size: 0.7rem !important;
    }
  }
}
