:root {
  --background: #fbfbfb;
  --soft: #e9e9e9;
  --strong: #494949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242323;
    --soft: #2d2d2d;
    --strong: #f0f0f0;
  }
}

#observablehq-main,
#observablehq-center {
  margin: 0;
  min-height: 100vh;
}

body {
  color: var(--strong);
}

menu {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  titulo {
    padding: 0 10px;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: 600;
    opacity: 0.9;
  }
  select,
  input {
    background-color: var(--background);
    border-radius: 5px;
    border: 1px solid var(--soft);
    color: var(--strong) !important;
    text-align: center;
    padding: 5px;
    scrollbar-width: none;
    &:hover {
      box-shadow: 0 4px 12px rgba(136, 160, 195, 0.1);
    }
  }
}

cuerpo {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  contenido {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--soft);
    background-color: var(--background);
    border-radius: 20px;
    margin: 0 10px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 1600px;
  }
}

cards {
  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0 40px 0;
  /* row-gap: 40px; */
  gap: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 10px;

  titulo {
    font-size: 2rem;
    font-weight: 650;
  }

  subtitulo {
    font-size: 0.9rem;
    font-family: sans-serif;
    opacity: 0.7;
    max-width: 500px;
    margin-top: 5px;
  }
}

card,
card_head,
card_legend,
mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

card {
  color: var(--strong) !important;
  z-index: 5;

  card_head {
    width: 100%;
    titulo,
    subtitulo {
      font-family: serif;
      opacity: 0.7;
      max-width: 600px;
    }

    titulo {
      font-weight: 600;
      font-size: 0.9rem;
      text-transform: uppercase;
      font-family: sans-serif;
    }
    subtitulo {
      font-size: 0.7rem;
    }
  }

  card_legend {
    margin: 7px 0 5px 0;
  }

  mapa {
    z-index: 6;
    position: relative;
    mensaje {
      z-index: 5;
      position: absolute;
      z-index: -1;
      top: 5%;
      right: 10%;
      font-family: sans-serif;
      opacity: 0.4;
      text-align: right;
      * {
        display: block;
      }
      valor {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1.2;
      }
      unidad {
        max-width: 200px;
        font-size: 0.7rem;
        font-weight: 500;
      }
      municipio {
        max-width: 200px;
        font-size: 0.8rem;
        font-weight: 600;
        span {
          display: inline;
          font-size: 0.7rem;
          font-weight: 500;
        }
      }
      departamento {
        font-size: 0.7rem;
        font-weight: 500;
      }
    }
  }
}

disclaimer {
  font-style: italic;
  font-size: 0.7rem;
  color: var(--strong);
  opacity: 0.7;
  max-width: 600px;
}

footer {
  color: var(--strong);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px 40px 10px;
  fuente {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-family: sans-serif;
    opacity: 0.7;
    a[href] {
      color: var(--strong);
      text-decoration: dotted underline;
      text-underline-offset: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  mensaje {
    right: 5% !important;
    valor {
      font-size: 3rem !important;
    }
    municipio {
      font-size: 0.7rem !important;
    }
  }
}
